<h2>Create a book</h2>

<form method="POST" action="/books/create">
    <label> Title:
        <input type="text" name="title">
    </label>

    <label> Author:
        <input type="text" name="author">
    </label>

    <label> Description:
        <input type="text" name="description">
    </label>

    <label> Rate:
        <input type="text" name="Rate">
    </label>

    <button type="submit">Create</button>
</form>